
body {
    margin: 0;
    padding: 0;
    font-family: "Arial";
    font-weight: 300;
}

.theme-dark {
  background-image: url("assets/img/bg_dark.png");
}

.theme-light {
  background-image: url("assets/img/bg_light.png");
}



 



#nav {
  margin: 0;
  padding: 0;
    height: 100%;
}

#servers {
    background-image: linear-gradient(to right, #00941c, #0095ba  );
    overflow: auto;
    top: 0px;
    position: fixed;
    border-bottom: 4px solid #a7a7a7;
    z-index: 2;
    margin: 0;
    width: 100%;
    padding: 0;
}

#servers li {
    float: left;
    list-style-type: none;
    padding: 3px;
    margin: 0;
    padding: 0;
}

#channels {
    background-image: linear-gradient(to bottom, #00941c, #0095ba  );
    float: left;
    width: 246px;
    height: 100%;
    position:fixed;
    bottom: 0;
    z-index: 1;
    top: 68;
    border-right: 4px solid #a7a7a7;
    margin: 0;
    padding-left: 0;
}

#channels li {
    list-style-type: none;
    font-weight:bold;
    color: white;
    font-size: 1.5rem;
    padding: 3px;
    padding-left: 10px;
    margin: 0;

}

#channels li a {
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
}

/*.activeChannel {
    background-color: rgba(51,51,51,0.7);
}*/

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: transparent;
    z-index: 10;
    margin: 0;
    padding: 0;
}

#chat {
    border: 0;
    left:255px;
    width:inherit;
    position: absolute;
    top: 70;
    margin: 0;
    padding: 0;
}

.msgln {
    margin: 0 0 5px 0;
    background-image: linear-gradient(to right, #00941c, #0095ba  );
    border: 4px solid #a7a7a7;
    border-radius: 4px;
    height: fit-content;
    width: fit-content;
    color: white;
    padding: 4px;
    margin-left: 65px;
  }

  .msgln a.messagemenu {
    text-align: right;
  }

  .msgln span.left-info {
    color: orangered;
  }
   
  .message span.chat-time, .message span.edited {
    color: #a7a7a7;
    font-size: 60%;
    vertical-align: super;
    padding-left:3px;
  }

  .message span.edited {
    color: white;
  }
  
  .msgln p.msgtext {
    margin: auto;
    padding: 5px;
  }
   
  b.user-name, b.user-name-left {
    font-weight: bold;
    background: #546e7a;
    color: white;
    padding: 2px 4px;
    font-size: 120%;
    border-radius: 4px;
    margin: 0 5px 0 0;
  }
  
  .msgln b.broadcast {
    font-weight: bold;
    background: red;
    color: white;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    margin: 0 5px 0 0;
  }
  
  
  .msgln .taglink {
    text-decoration: none;
  }
  
  .msgln .weblink {
    color: lightskyblue;
  }
  
  
  
  .msgln b.owner, .msgln b.owner-left {
    font-weight: bold;
    background: #01f3ff;
    color: black;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    margin: 0 5px 0 0;
  }
  
  
  
  .msgln b.mega, .msgln b.mega-left {
    font-weight: bold;
    background: yellow;
    color: black;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    margin: 0 5px 0 0;
  }
  
  
  
  
  
   
  .msgln b.user-name-left {
    background: orangered;
  }

  #messagebox {
    width: 84%;
    border-radius: 4px;
    border: 4px solid #a7a7a7;
    padding-top: 4px;
    background-image: linear-gradient(to right, #00941c, #0095ba  );
    position: fixed;
    float: right;
    right: 25px;
    bottom: 20px;
    /*opacity: .5;
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;*/
  }

  /*#messagebox:hover {
    opacity: 1;
  }*/

  #usermsg {
    padding: 4px;
    flex: 1;
    border-radius: 4px;
    border: 1px solid #a7a7a7;
    background-color: #212121;
    color: white;
    font-size: medium;
    width: 96%;
  }

  #submitmsg,
#enter,
#dismissipmsg {
  background: #00ff44;
  border: 2px solid #24b54b;
  color: black;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
}
 

 
.error {
  background: #ff0000;
  color: white;
  font-weight: bold;
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
  margin: 0 5px 0 0;
}

.vl {
  border-left: 5px solid #a7a7a7;
  height: 64px;
}

.selectedChannel_top, .selectedChannel_bottom {
  width: 100%;
  height: 3px;
  /*border: 2.5px solid black;*/
  background: linear-gradient(to left, rgba(128, 128, 128, 0), black  ); /* rgba(128, 128, 128, 0.35) */
}

.selectedChannel_bottom {
  width: 75%;
}

#loginform {
  margin: 0 auto;
  padding-bottom: 25px;
  background: #eee;
  width: fit-content;
  max-width: 100%;
  border: 5px solid #a7a7a7;
  border-radius: 4px;
  padding-top: 18px;
  text-align: center;
}

#loginform p, #registerform p {
  padding: 15px 25px;
  font-size: 1.4rem;
  font-weight: bold;
}

#loginform input.name, #registerform input.username, #registerform input.email {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  background-color: #212121;
  border-radius: 4px;
  border-color: #00941d;
}

#loginform input.enter {
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
}

#registerform {
  margin: 0 auto;
  padding-bottom: 25px;
  background: #eee;
  width: fit-content;
  max-width: 100%;
  border: 5px solid #a7a7a7;
  border-radius: 4px;
  padding-top: 18px;
  text-align: center;
}

#registerform {
  margin: 0 auto;
  padding-bottom: 25px;
  background: #eee;
  width: fit-content;
  max-width: 100%;
  border: 5px solid #a7a7a7;
  border-radius: 4px;
  padding-top: 18px;
  text-align: center;
}

#registerform .register {
  padding: 15px 25px;
  font-size: 1rem;
  vertical-align: super;
  font-weight: bold;
}


#loginform input.name, #registerform input.username, #registerform input.email {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  background-color: #212121;
  border-radius: 4px;
  border-color: #00941d;
}

#registerform input.password, #registerform input.repeatpassword {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  background-color: #212121;
  border-radius: 4px;
  border-color: #0095b0;
}

#exit {
  top: 0px;
  right: 0px;
  margin: 5px;
  padding: 5px;
  padding-top: 10px;
  z-index: 10;
  color: white;
  background: #c62828;
  padding: 6px 8px;
  border-radius: 4px;
  font-weight: bold;
  position: fixed;
  text-decoration: none;
}

#settings {
  top: 0px;
  right: 0px;
  margin: 5px;
  margin-right: 90px;
  padding: 5px;
  padding-top: 10px;
  z-index: 10;
  color: white;
  background: #c62828;
  padding: 6px 8px;
  border-radius: 4px;
  font-weight: bold;
  position: fixed;
  text-decoration: none;
}

.servericon {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: 3px;
  background-color:rgba(0, 0, 0, 0.1);
}

.activeServer {
  /*border: 2px solid lime;*/
  box-shadow: 5px 5px 3px #0095ba;
}

#registerform input.password, #registerform input.repeatpassword {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  background-color: #212121;
  border-radius: 4px;
  border-color: #0095b0;
}

#loginform input.name, #registerform input.username, #registerform input.email {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  background-color: #212121;
  border-radius: 4px;
  border-color: #00941d;
}

#registerform input.password, #registerform input.repeatpassword {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  background-color: #212121;
  border-radius: 4px;
  border-color: #0095b0;
}

#loginform input.enter {
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
}

.emoji {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  height:17px;
  text-align: center;
  
}

.emoji .tooltiptext {
  visibility: hidden;
  width: fit-content;
  min-width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position:absolute;
  z-index: 1;
}

.emoji:hover .tooltiptext {
  visibility: visible;
}

.avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  vertical-align:middle;
  /*border: 2px solid #a7a7a7;*/
  background-color:rgba(0, 0, 0, 0.1);
}

.friendAvatar {
  border: 2px solid #0095b0;
}

.banned {
  width: 100%;
  height: 100%;
  object-fit: fill;
}


body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /*background-image: linear-gradient(to down, #00941c, #0095ba  );*/
  background-color: #00941c;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #0095ba;

  border: 3px solid #a7a7a7;
  padding: 2px;
  border-radius: 10px;

  
    transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -webkit-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
}

body::-webkit-scrollbar-thumb:hover {
  background-color:#006c86;
}

.mention {
  font-weight: bold;
  background: #546e7a;
  color: white;
  padding: 2px 4px;
  font-size: 100%;
  border-radius: 4px;
  margin: 0 5px 0 0;
  text-decoration: none;
}

  /* The Modal (background) */
  .insecurelinkpopup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .insecurelinkpopup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
    height: 20%;
    border-radius: 6px;
    border: #000000;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .yesButton-insecurewebpage-open {
      box-shadow: 0px 1px 0px 0px #f0f7fa;
      background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
      background-color:#33bdef;
      border-radius:6px;
      border:1px solid #057fd0;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:11px 40px;
      text-decoration:none;
      text-shadow:0px -1px 0px #5b6178;
  }
  .yesButton-insecurewebpage-open:hover {
      background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
      background-color:#019ad2;
  }
  .yesButton-insecurewebpage-open:active {
      position:relative;
      top:1px;
  }
  
  .cancelButton-insecurewebpage-open {
      box-shadow: 0px 1px 0px 0px #808080;
      background:linear-gradient(to bottom, #355661 5%, #1c3a45 100%);
      background-color:#355661;
      border-radius:6px;
      border:1px solid #000000;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:11px 40px;
      text-decoration:none;
      text-shadow:0px -1px 0px #5b6178;
      position: absolute;
      right:0px;
      top:0px;
  }
  .cancelButton-insecurewebpage-open:hover {
      background:linear-gradient(to bottom, #1c3a45 5%, #355661 100%);
      background-color:#1c3a45;
  }
  .cancelButton-insecurewebpage-open:active {
    position: absolute;
      top:1px;
    right:0px;
  }
  
  .buttonPlacementDiv-insecurelinkpopup-content {
    position:relative;
    min-width:50px;
  }

  .avatarstatus {
      position: relative;
      width: fit-content;
      height: fit-content;

  }
  .statusdot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 15px;
    border: 2px solid whitesmoke;
  }

  .Online {
    background-color: #00ce37;
  }

  .Idle {
    background-color: #d5ec00;
  }

  .Offline {
    background-color: #a7a7a7;
  }
 /* v3 style */
  .glass {
    background: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    outline: 1px solid rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}


